.company-main-div{
  padding: 100px 40px 40px;

  .main-title{
    font-size: 22px;
  }

  .titles-div{
    font-size: 26px;
    padding: 25px;
    justify-content: space-between;
  }

  .all-comp-title{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0 20px;
  }

  .data-table{
    padding: 25px 0 50px;
  }
}