.login-main-div{
  min-height: 100vh;
  background: url("../../assets/images/login-background.png") no-repeat fixed;
  background-size: cover;

  .title-div{
    text-align: center;
    padding: 80px 0 150px 0;
    width: 100%;
    font-size: 32px;
    color: white;
  }

  .login-card{
    width: 400px;
    margin: auto;
    height: auto;
    padding: 30px;
    background: #f2f2f2;
    border-radius: 3px;
    box-shadow: white 0 0 10px;

    .account-text{
      font-size: 22px;
      padding: 20px 0;
    }

    .button-text{
      display: flex;
      align-items: center;
      padding: 5px;
    }

    .google-img{
      height: 33px;
      width: 33px;
      padding: 0 10px 0 5px;
    }
    .google-auth-button{
      background: white;
      font-size: 16px;
      cursor: pointer;
    }
  }
}