.App {
  text-align: center;
}

.display-flex{
  display: flex;
}

.width-33{
  width: 33% !important;
}

.width-50{
  width: 50% !important;
}

.custom-link{
  cursor: pointer;
  color: #02B6C4;
}

.pie-chart-div{
  width: 450px;
  height: 250px;
}

.revenue-graph-div{
  width: 100%;
  height: 600px;
}
